*{
    padding: 0;
    margin: 0;
}

body{
       background-color: green;
       background-image: url(19.jpg) ;
       background-repeat: repeat;
       background-position: 50px;
       background-attachment: fixed;
}

h1 {
    color:maroon;
    margin-left: 40px;
}
   
h1 {
    font-weight: bold;
    font-style: italic;
    font-size: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-decoration: double;
    text-transform: uppercase;
    text-indent: 10px;
    word-spacing: 30px;
    letter-spacing: normal;
    line-height: 1.5em;
}

p {
    font-weight: bold;
    font-style: italic;
    font-size: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-decoration: dotted;
    text-transform: uppercase;
    text-indent: 30px;
    word-spacing: 5cm;
    letter-spacing: normal;
    line-height: 1.5em;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TABLE</title>
    <style>
        .all{
          width: 100px;
          height: 25px;
          background-color: rgba(5, 250, 250, 0.734);
          color: blue;
        }
        .alice{
          width: 155px;
          background-color: rgba(7, 236, 236, 0.547);
          color: blue;
  
        }
        .letty{
          width: 250px;
          background-color: rgba(6, 245, 245, 0.649);
          color: blue;
      
        }

        .h3{
          position: absolute;
          top: 40px;
          left: 300px;
        }


       .table1{
        border-spacing: 10px;
               
        }
       .you{
        border-width: 30cm;
       } 
        
      </style>
</head>
<body>
    <body style="background-image: url(wee\ \(11\).jpeg);">
        <table border="2" style="text-align: center; margin-left: 100px; margin-top: 100px;" class="table1" class="you">
<tr>
    <h3 style="text-align: center; color: palevioletred;" class="h3">Table Heading</h5>
    <th class="all"   style="background-color: rgb(100, 249, 100); color: green;">S.NO</th>
    <th class="alice" style="background-color: rgb(100, 249, 100); color: green;">Name</th>
    <th class="letty" style="background-color: rgb(100, 249, 100); color: green;">Course</th>
</tr> 
<tr>
    <td class="all">1</td>
    <td class="alice">Anna</td>
    <td class="letty">Web Designing</td>
    </tr>
    <tr>
    <td class="all">2</td>
    <td class="alice">Adam</td>
    <td class="letty">Programming</td>
</tr>
<tr>
   
    <td class="all">3</td>
    <td class="alice">Alex</td>
    <td class="letty">Android Development</td>
</tr>
<tr>
    <td class="woe" style="background-color: coral; color: crimson;">Total</td>
    <td class="woe" style="background-color: coral; color: crimson;">Student</td>
    <td class="woe" style="background-color: coral; color: crimson;">3</td>
</tr>
</body>
</html>